@charset "utf-8";

/*ν—¤λ”*/
#header{position: relative; height: 68px; text-align: center;}
#header a{color: #000;}
#header h1{float: left;}
#header h1 img{padding:15px 0 0 15px;}

.gnb{line-height: 68px; display: inline-block;}
.gnb li{float: left; padding-right: 60px;}

.utill{position: absolute; right: 100px;bottom: 25px;}
.utill li{float: left;}
.utill li:after{content: ""; display: inline-block; width: 1px; height: 10px; background: #555; margin:0 10px;}
.utill li:last-child:after{display: none;}

.surch{height: 100%; float:right; }


/*ν‘Έν„°*/
#footer{background: #474B50; font-size: 15px; font-weight: 200; letter-spacing: -1px;
        padding: 30px 0; position: relative;}

.ftop{height: 40px; line-height: 40px; border-bottom: 2px solid #6F747B; padding-bottom: 10px;}
.ftopMenu li{float: left;}
.ftopMenu li:after{content: ""; display: inline-block; width: 1px; height: 15px; background: darkgray; margin: 0 20px; vertical-align: middle;}
.ftopMenu li:last-child:after{display: none;}
.ftopMenu li a{color: #fff;}

.ftopSns{float: right;  }
.ftopSns li{float: left; margin-left: 10px;  height: 40px; }

.fBottom{color: #CBCDCD}
.fBottom p{float: right; }

.fbottomMenu{margin: 20px 0;}
.fbottomMenu li{float: left; margin-right: 15px; }
.fbottomMenu li:last-child{margin-left: 229px; margin-right: 0}
.fbottomMenu li a{color: #CBCDCD}
.fbottomMenu li .fbMenu03{color:#3ECCE6;}
.fbottomInfo li{float: left; margin-right: 20px;}

.topBtn{background-color: #F3F3F3; width: 65px; height: 27px; text-align: center; line-height: 27px;position: absolute; right: 250px; ; top:0; border: 1px solid black; }
.topBtn a{font-size: 13px; color: #555; display: block; }